<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Thanks for requesting an invite!</h1>
    <p>
      Thanks for requesting an invite!  I really appreciate you taking a look at My Master Resume.  We are limiting the number of users while we take care of some of the bugs.  In the meantime, please check us out on Facebook and Twitter.
    </p>
    <br />
    <p>Once again, thanks for the request and have a great day!</p>
    <br />
    <br />
    <p>Brennan Meadowcroft</p>
    <p><strong>Founder</strong></p>
  </body>
</html>