<% provide(:title, "Change My Password") %>
<div class="row">     
    <div class="span12">
		<p id="notice"><%= notice %></p>
	</div>
</div>

<div class="row">
	<%= render 'users/sidebar' %>
	<div class="span9 offset1">
		<h1>Change Your Password</h1>
		<div class="row">
			<%= render 'password_form' %>
		</div>
	</div>
</div>
