/*****************************************************************************
*	MY MASTER RESUME - RESUME STYLE
*	Name:			Basic
*	Media:			Screen
*	Created:		7/21/2012
*	Designed By:	Brennan Meadowcroft
*****************************************************************************/
/*****************************************************************************
*	General Page Formatting
*****************************************************************************/
body {
	font-family: helvetica, sans-serif;
	font-size: 12pt;
}
h3 {
	margin: 0 0 5px 0;
	padding: 0;
}
.resume-body {}
.hidden {
	display: none;
}
.clrFloat {
	clear: both;
	float: none;
}
.education-block, .award-block, .skills-block, .activities-block {
	clear: both;
	float: none;
}


/*****************************************************************************
*	Header Formatting
*****************************************************************************/
.resume-header {
	border-bottom: 1px solid #000000;
}
.resume-header h1 {
	font-size: 1.5em;
	text-align: center;
}
.resume-header ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.resume-header li {
	display: inline-block;
	width: 49%;
}
.resume-header li:nth-child(even) {
	text-align: right;
}


/*****************************************************************************
*	Education Block Formatting
*****************************************************************************/
.education-block {}
.education-block h3 {
	margin-top: 10px;
	margin-bottom: 5px;
}
.education-block p {
	margin: 0;
	margin-bottom: 5px;
}
.school {
	margin-bottom: 10px;
	clear: both;
}
.school-name {
	font-weight: bold;
}
.school-location {}
.school-attendance {
	float: right;
}


/*****************************************************************************
*	Activity Block Formatting
*****************************************************************************/
.activities-block {}
.activities-block h3 {}
.activity {
	margin-bottom: 10px;
}
.activity ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.activity li {}
.activity li:first-child {
	margin-top: 0;
}


/*****************************************************************************
*	Award Block Formatting
*****************************************************************************/
.awards-block {}
.awards-block h3 {}
.award {
	margin-bottom: 10px;
}
.awards:first-child {
	margin-top: 0px;
}
.award ul {
	margin: 0;
	padding: 0;
	list-style-type:none;
}
.award li {}


/*****************************************************************************
*	Skill Block Formatting
*****************************************************************************/
.skills-block {}
.skills-block h3 {}
.skill {
	margin-bottom: 10px;
}
.skills-block ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.skills-block li {
	display: inline-block;
	width: 32%;
	margin-bottom: 5px;
}


/*****************************************************************************
*	Work Experience Formatting
*****************************************************************************/
.work-block {}
.work-block h3 {}
.position {}
.position p {
	margin: 0;
	padding: 0;
}
.position-title {
	font-weight: bold;
}
.position-company {
	font-weight: bold;
}
.position-location {}
.position-dates {
	float: right;
}
.position-experience {}
.position-experience ul {
	margin-top: 0;
	padding-top: 0;
}
.position-experience li {
	margin-bottom: 5px;
}

