<div class="span2">
    <div class="well sidebar-nav">
        <ul class="nav nav-list">
            <li><%= link_to master_resumes_path do %>
                    <i class="icon-search icon-file"></i> Resume
                <% end %>
            </li>
            <li><%= link_to edit_master_resumes_path do %>
                    <i class="icon-search icon-cog"></i> Edit
                <% end %>
            </li>
            <li><%= link_to "#" do %>
                    <i class="icon-search icon-download"></i> Export
                <% end %>
            </li>
        </ul>   
    </div>
</div>