<% form_for @tags, :remote => true) do |t| %>
    <%= t.check_box_tag "experience[tag_ids][]", tag.id, @experience.tags.include?(tag) %>
    <%= tag.description %>
<% end %>
<p><%= link_to "Create A New Tag", new_tag_path %></p>
