<% provide(:title, "Request Beta Invite") %>

<div class="invite-content">
	<div class="form-box">
		<h1>Request An Invite</h1>
		<div class="form-copy">
			<p>My Master Resume is currently in beta and testing to make sure we didn't 
				leave a sponge inside the programming.  Currently access is limited but you can request an invite and we'll send you one soon!</p>

			
			<%= form_for @beta_request, :method => :post do |f| %>
				<%= f.text_field :email, :placeholder => "Email" %>
				<%= submit_tag "Submit", :class=>"invite-button" %>
			<% end %>
			<%= link_to "Already have an invite code?  Sign up!", signup_path %>
		</div>
	</div>
</div>