@import "overrides";
@import "bootstrap";


body {
	padding-top: 80px;
	padding-bottom: 40px;
	background: url('../img/blue-fade.png') top left repeat;
}

h1, h2, h3, h4 {
	font-family: $headingsFontFamily;
}

/* Error information on a form */
#error_explanation h2 {
	background: #f2dede;

	h2 {
		background: #f2dede;
		font-weight: 4em;
	}

	ul {
		list-style: none;
		margin: 0 0 18px 0;

		li {}
	}
}

.field_with_errors {
	@extend .control-group;
	@extend .error;

	background-color: #444444;
}

.sidebar-nav {
	padding: 0px;

	ul.nav-list {
		padding: 0px;
		margin: 0px;
	}
}

.form-list {
	list-style-type: none;
	li {
		margin: 0;
		padding: 10px 0 0 0;
		text-indent: -1.7em;
	}

	label {
		display: inline;
	}
}

a.btn-primary:visited, a.btn-extra-large:visited {
	color: #ffffff;
}

footer {
	margin: 20px 0 0 0;

	h3, p {
		color: $mmrGray;
	}

	.footer-content {
		padding: 20px 0 10px 0;
		background: url("footer-background2.png") top left repeat;
		border-top: 1px solid #999999;
		border-bottom: 1px solid #999999;	
	}
	
	.social-icons {
		li {
			margin: 0 20px 0 0;
			display: inline;
		}

		a {
			&:hover {
				background-color: transparent;
			}
		}
	}

	.copyright {
		margin: 20px 0 0 0;
		padding: 5px 20px 5px 20px;
		color: #707077;
		border-top: 1px solid #999999;
	}

	ul {
		margin: 0 0 0 0;
		padding: 0 0 0 0;
		list-style-type: none;

	}

	li {
		margin: 5px 0 0 0;

		a {
			color: $mmrGray;

			&:hover {
				color: $mmrGreen;
				background-color: transparent;
			}

			&:visited {
				color: $mmrGray;
			}
		}
	}

	.email-subscribe {
		.mc-field-group input {
			width: 300px;
		}
	}
}

.bm-brand {
	margin: -10px 0 0 0;
	padding: 0 0 0 0;
	display: inline;

	a {
		margin: 0 0 0 0;
		padding: 0 0 0 0;
	
		&:hover {
			background-color: transparent;
			font-style: none;
		}	
	}
}


/* Debug Information */
@mixin box_sizing {
	-moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box; 
	box-sizing: border-box;
}

.debug_dump {
	clear: both;
	float: left;
	width: 100%;
	margin-top: 45px;
	@include box_sizing;
}