// View this color scheme at http://kuler.adobe.com/#themeID/1986913

$mmrBlue: #5b86c5;
$mmrGray: #444444;
$mmrDarkBlue: #5165A6;
$mmrGreen: #C0CC5E;
$mmrLightTan: #FEFFD3;
$white: #FFFFFF;

$headingsFontFamily: 'Dosis', "Helvetica Neue", Helvetica, Arial, sans-serif;

$btnPrimaryBackground: #444444;
$mmrText: #444444;
$mmrHoverText: #C0CC53;
