// Place all the styles related to the Resumes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "overrides";

/* Resume List */
.master-block:hover {
	color: #ffffff;
	background-color: #d4d4d4;
}


.resume-header {
	.contact-info {
		.hidden {
			display: none;
		}
	}
}

.resume-options {
	padding: 20px;

	li {
		font-size: 1.2em;
		margin-top: 10px;

		&:first-child {
			margin-top: 0;
		}

		a {
			&:hover {
				background-color: $mmrGreen;
			}
		}
	}
}

#options {
	ul {
		margin-left: 0;
	}
	li {
		margin-left: 20px;
		list-style-type: none;
		display: inline;

		&:first-child {
			margin-left: 0;
		}
	}
}