// Place all the styles related to the Resumes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "overrides";
@import "bootstrap";


.resume-content {
	@include makeRow();
	@include makeColumn(12);

	h1 {
		margin-bottom: 20px;
	}

	.resume-options {
		@include makeColumn(3);

		margin: 0;
		padding: 0;

		.option-item {
			margin-bottom: 20px;
			border: 1px solid $mmrGray;
			text-align: center;
			width: 125px;
			height: 125px;
			background-color: $mmrBlue;

			a {
				&:hover {
					text-decoration: none;
				}
			}

			h4 {
				padding-top: 35px;
				&:hover {
					font-color: $mmrGray;
				}
			}

			&:hover {
				background: $mmrDarkBlue;
			}

			&:nth-child(3n+1) {
				@include makeRow();
			}
		}
	}

	.resume-list {
		@include makeColumn(9);

		.list-item {
			@include makeColumn(3);
			margin-top: 0;
			margin-bottom: 20px;
			border: 1px solid $mmrGray;
			text-align: center;
			width: 210px;
			height: 125px;

			.resume-details {
				margin-top: 40px;

				p {
					margin: 0;
				}
			}

			&:hover {
				background: $mmrDarkBlue;
			}
		}

		.master-resume-option {
			@include makeColumn(9);
			width: 675px;
			background-color: $mmrGreen;
		}
	}

	.resume-body {

		.resume-header {
			.contact-info {
				.hidden {
					display: none;
				}
			}
		}
	}
}

.resume-specific-options {
	padding: 20px;

	li {
		font-size: 1.2em;
		margin-top: 10px;

		&:first-child {
			margin-top: 0;
		}
	}
}