h3 {}

.resume-body {
	margin-left: 15px;
	padding: 8px;
	border: 1px solid #000000;
	background: #FFFFFF;
	width: 535pt;
	height: 760pt;
	overflow: hidden;
	display: inline-block;
}

.hidden {
	display: none;
}

.resume-header {}

.contact-info {}

.contact-info ul {}

.contact-info ul li {}

.experiences {}

.education {}

.awards {}

.skills {}

.activities {}