h3 {}

.resume-body {
	padding: 8px;
	border: 1px solid #000000;
}

.hidden {
	display: none;
}

.resume-header {}

.contact-info {}

.contact-info ul {}

.contact-info ul li {}

.experiences {}

.education {}

.awards {}

.skills {}

.activities {}