<% provide(:title, "Import Activities") %>
<div class="row">     
    <div class="span12">
		<p id="notice"><%= notice %></p>
	</div>
</div>
<div class="row">
	<%= render 'users/sidebar' %>
	<div class="span9 offset1 linkedin-import">
		<div class="row linkedin-instructions">
			<h1>Import Activities From LinkedIn</h1>
	        <p class="error">Please note that due to the way that LinkedIn handles activities, you will need to input the appropriate dates after you have imported your awards.</p>
	    </div>
		<%= render 'linkedin_form' %>
	</div>
</div>