/*****************************************************************************
*	MY MASTER RESUME - RESUME STYLE
*	Name:			Side Name
*	Media:			Screen
*	Created:		7/21/2012
*	Designed By:	Brennan Meadowcroft
*****************************************************************************/
/*****************************************************************************
*	General Page Formatting
*****************************************************************************/
body {
	font-family: helvetica, sans-serif;
	font-size: 12pt;
}
h3 {
	margin-bottom: 0;
}
.resume-body {
	width: 612pt;
	overflow: none;
/*	border: 1px solid #000000;*/
}
.resume-content {
	padding-left: 10px;
	margin-left: 60px;
	border-top: 3px solid #000000;
	border-left: 3px solid #000000;
}
.hidden {
	display: none;
}
.clrFloat {
	clear: both;
	float: none;
}
.education-block, .award-block, .skills-block, .activities-block, .experience-block {
	clear: both;
	float: none;
}


/*****************************************************************************
*	Header Formatting
*****************************************************************************/
.resume-header {}
.resume-header H1 {
	font-size: 4em;
	text-align: left;
	position: relative;
		top: 200px;
		left: -390px;
/*	-webkit-transform-origin: 0 0;
	-mos-transform-origin: 0 0;
	-ms-transform-origin: 0 0;
	-o-transform-origin: 0 0;
*/	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
}
.resume-header ul {
	margin-top: -140px;
	margin-left: 70px;
	margin-bottom: 0;
	padding: 0;
	list-style-type: none;
	font-weight: bold;
}
.resume-header li {
	padding-right: 10px;
	margin-left: 10px;
	font-size: .83em;
	display: inline-block;
}
.resume-header li:nth-child(3) {}
.name {}
.middle-name {}
.address {}
.location {}
.phone {}
.email {}
.website {}



/*****************************************************************************
*	Education Block Formatting
*****************************************************************************/
.education-block {}
.education-header, .education-body {
	padding-top:10px;
}
.education-header {}
.education-header h3 {
	padding-top: 0;
	margin-top: 0;
	text-align: left;
}
.education-body {}
.education-body p {
	margin: 0;
}
.school {
	margin-bottom: 10px;
	clear: both;
}
.school-name {
	font-weight: bold;
}
.school-location {}
.school-attendance {
	float: right;
}


/*****************************************************************************
*	Activity Block Formatting
*****************************************************************************/
.activities-block {
	clear: both;
}
.activity-header {}
.activity-header h3 {
	margin-top: 0;
	padding-top: 0;
}
.activity-body {}
.activity {
	margin-bottom: 10px;
}
.activity ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.activity li {}
.activity li:first-child {
	margin-top: 0;
}


/*****************************************************************************
*	Award Block Formatting
*****************************************************************************/
.awards-block {}
.award-header {}
.award-header h3 {
	padding-top: 0;
	margin-top: 0;
}
.award-body {}
.award {
	margin-bottom: 10px;
}
.awards:first-child {
	margin-top: 0px;
}
.award ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.award li {
}


/*****************************************************************************
*	Skill Block Formatting
*****************************************************************************/
.skills-block {}
.skill-header {}
.skill-header h3 {
	margin-top: 0;
	padding-top: 0;
}
.skill-body {}
.skill {
	margin-bottom: 10px;
}
.skills-block ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.skills-block li {
	display: inline-block;
	width: 32%;
}


/*****************************************************************************
*	Work Experience Formatting
*****************************************************************************/
.work-block {}
.work-block h3 {}
.position {}
.position p {}
.position-title {}
.position-company {}
.position-location {}
.position-dates {}
.experience {}
.experience ul {}
.experience li {}

/*****************************************************************************
*	Custom CSS Formatting
*****************************************************************************/
