<div class="awards-block">
	<div class="award-header">
		<h3>Awards</h3>
	</div>
	<% if @awards.nil? %>
		<div class="award-body">
	<% else %>
		<div class="award-body">
			<% @awards.each do |ribbon| %>
				<div class="award">
					<ul>
						<li>
							<span class="award-description">
								<%= ribbon.description %> 
							</span>
							<span class="award-date">
								(<%= display_date(ribbon.date) %>)
							</span>
						</li>
					</ul>
				</div>
			<% end %>
	<% end %>
	</div>
	<br class="clrFloat" />
</div>
