<div class="tab-pane" id="delete">
	<div class="row">
		<div class="span6 offset2">
			<h1>Delete Your Resume</h1>
			<p>Deleting your resume will not erase any of your job experience or tags.  It will only erase these settings.</p>
			<p>Are you sure that you want to delete your resume?</p>
			<a href="http://www.google.com" class="btn">Delete!</a>
			<a href="resume-view.html#resume" class="btn" data-toggle="tab">Cancel</a>
		</div>
	</div>
</div>