<p>Hover over the circles to get a description of that circle.</p>
<div class="alert">
	<p>If the tooltips don't show up, move your mouse off the circle and then back on.</p>
</div>
<!--
<div id="options">
	<div id="minimize">
		<a href="#"><h5>Filter By Skills</h5></a>
	</div>
	<ul>
		<li><a href="#" class="filter_option" id="all">All</a></li>
	</ul>
</div>
-->
<div id="myCanvas"></div>
