<ul class="nav nav-tab">
	<li class="active"><i class="icon-search icon-file"></i><%= link_to "Resume", "#resumes" %></li>
	<li><i class="icon-search icon-cog"></i><%= link_to "Settings", "#settings" %></li>
	<li><i class="icon-search icon-download"></i><%= link_to "Export", "#export" %></li>
	<li><i class="icon-search icon-trash"></i><%= link_to "Delete", "#delete" %></li>
</ul>