<div class="tab-pane" id="settings">
	<div class="row">
		<div class="span6 offset2">
			<h1>Adjust Your Settings for Resume 1</h1>
			<p>Change your settings and click "save".</p>
			<form>

				<div class="setting-header"></div>
					<button type="submit" class="btn">Save</button>
					<a href="#resume" class="btn">Cancel</a>
				</div>
			</form>
		</div>
	</div>
</div>