<% if @skills.count > 0 %>
	<div class="skills-block">
		<div class="skill-header">
			<h3>Skills</h3>
		</div>

		<div class="skill-body">
			<ul>
				<% @skills.each do |mad| %>
					<li><%= mad.description %></li>
				<% end %>
			</ul>
		</div>
		<br class="clrFloat" />
	</div>
<% end %>