<div class="skills-block">
	<% if @skills.nil? %>
		<div></div>
	<% else %>
		<div class="skill-header">
			<h3>Skills</h3>
		</div>

		<div class="skill-body">
			<ul>
				<% @skills.each do |mad| %>
					<li><%= mad.description %></li>
				<% end %>
			</ul>
		</div>
	<% end %>
	<br class="clrFloat" />
</div>
