<% provide(:title, @resume[:description]) %>
<% provide(:page_javascript, 'resumes-bundle') %>

<div class="row">
	<%= render 'resumes/sidebar' %>
	<div class="span8">
		<h1>Your Resume, Broken Down...</h1>

		<ul class="nav nav-pills" id="myTab">
			<li class="active"><a href="#chart" data-toggle="tab">Chart</a></li>
			<li><a href="#map" data-toggle="tab">Map</a></li>
		</ul>
		<div id="myTabContent" class="tab-content">
			<div class="tab-pane active" id="chart">
				<p>Look at the words you use in your resume to identify the ones used most frequently.</p>
				<div id='chart'></div>
				<%= render_chart(@chart, 'chart') %>
			</div>
			<div class="tab-pane" id="map">
				<%= render 'map' %>
			</div>
		</div>
	</div>
</div>