<% provide(:title, @resume[:description]) %>
<% provide(:frequency_distribution, frequency_distribution_chart(@frequency_array)) %>
 <div class="row">
	<%= render 'resumes/sidebar' %>
	<div class="span8">
		<h1>Your Resume, Broken Down...</h1>
		<p>We have broken down all the content on your resume into a frequency distribution, making it easy to see which words you use most frequently.  Hover over the bar to get more information about that word.</p>
		<p>One way to determine how well your resume stacks up is to <%= link_to "compare the keywords to your target job descriptions", "#" %>.</p>
		<div id='chart'></div>
		<%= render_chart(@chart, 'chart') %>
	</div>
</div>