<% provide(:title, "Edit #{@resume.description}") %>
<% provide(:page_javascript, 'resumes-bundle') %>
<div class="row">
	<%= render 'resumes/sidebar' %>
	<div class="span8">

		<%= render 'form' %>
	</div>
</div>
