<% provide(:title, 'Create New Resume') %>
<% provide(:page_javascript, 'resumes-bundle') %>
<div class="row">
	<div class="span8 offset2">
		<h1>New resume</h1>

		<%= render 'form' %>
	</div>
</div>
